@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html, body{
	height:100%;
}
body{
	background:#000;
}
ul, li, ol{
	list-style:none;
}
body, input, div, dt, dd, table, td, th, ul, li, ol, a, button, span{
	font-family: 'Nunito Sans', sans-serif;
} 
input[type="file"]{
	display:none;
}
.float-clear:after{
	clear:both;
	display:block;
	content:'';
}

#app{
	padding:70px 20px 136px;
	margin:0 auto;
}

.screen-device-width{
	width:100%;
}
.screen-1000{
	width:1000px;
}
.screen-800{
	width:800px;
}
#description {
	display:none;
	z-index:900;
	position: fixed;
	font-size: 13px;
	top:0; 
	left:0;
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.6);
}
#description div{
	position: absolute;
	min-width:300px; 
	max-width:500px;
	background:#fff;
	padding:14px 24px 24px;
	top:100px; 
	left:50%; 
	transform:translateX(-50%);
	border-radius:6px; 

}
#description.show{
	display:block;
}
#description h3{
	font-size: 22px;
	color:#888;
}
#description h3 #close-description{
	position: absolute;
	top:14px;
	right:14px; 
	color:#fff; 
	border-radius:6px;
	border:none;
	background:#5250ce;
	width:28px;
	height:28px;
	padding-top:2px;
}
#description p{
	margin-top: 12px;
	color:#888;
	line-height: 1.5em;
	font-size:1.1em;
}
#top-ui{
	padding:10px 20px;
	width:inherit;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:100;
	position: fixed;
	background:#000;
	height:72px;
}
#top-ui div #option__toggle,
#top-ui div #description-toggle{
	position: relative;
	display:block;
	width:52px;
	height:52px;
	float:right;
	border-radius:6px;
	background:#5250ce;
	color:#fff;
	border:none;
	font-size:20px;
}
#top-ui div #description-toggle{
	margin-right:12px;
	background:#2c2b72;
}
#top-ui div #option__toggle #option__toggle-click-area,
#top-ui div #description-toggle #description__toggle-click-area{
	position: absolute;
	width:100%;
	height:100%;
	display:block; 
	left:0; 
	top:0
}

#top-ui #option__list{
	float:right;
	width:200px; 
	padding:12px;
	background:#5250ce;
	border-radius:6px;
	margin-top:10px;
	box-shadow:0 0 5px 1px rgba(0,0,0,0.2);
}
#top-ui #option__list .screen-control{
	display:block;
	width:100%; 
	height:40px;
	background:none;
	color:#fff;
	border:none;
	border-radius:6px;
	text-align: left;
	padding-left:12px;
}
#top-ui #option__list .screen-control.selected{
	background:#2c2b72;
}
#top-ui #option__list .shape-control{
	margin-top:10px;
}
#top-ui #option__list .shape-control button{
	width:40px; 
	height:40px; 
	border-radius:6px;	
	border:none;
	background:none;
	display:block;
	float:left;
	margin-right:6px;
	border:1px solid #6d76d7;
}
#top-ui #option__list .shape-control button span{
	display:block;
	border:2px solid #fff;
	margin:0 auto;
}
#top-ui #option__list .shape-control button.selected{
	border:1px solid #2c2b72;
	background:#2c2b72;
}
#top-ui #option__list .shape-control button span.one-to-one{
	width:16px; 
	height:16px;
}
#top-ui #option__list .shape-control button span.horizon{
	width:24px;
	height:16px;
}
#top-ui #option__list .shape-control button span.vertical{
	width:16px;
	height:24px;
}
#top-ui #option__list.hide{
	display:none;
}
#capture{
	padding:20px; 
	background:#000;
}
#capture #app-title {
	display:inline-block;
	color:#fff;
	font-size:36px;
	background:none; 
	border:none;
	outline: none; 
	font-weight:600;
	margin-bottom:20px;
	cursor:pointer;
}
#capture #modal-app-title-modify{
	top:0; 
	left:0;
	position:fixed;
	z-index:1000;
	width:100%; 
	height:100%;
	display:none;
}
#capture #modal-app-title-modify.show{
	display:block;
	background:rgba(0,0,0,0.6)
}
#capture #modal-app-title-modify div{
	position: absolute;
	top:50%;
	left:50%; 
	transform:translate(-50%, -50%);
	width: 100%;
	max-width:400px; 
	min-width:300px;
	height:200px;
	background:#5250ce;
	border-radius:6px;
	padding:10px 14px 24px;
}
#capture #modal-app-title-modify div h3{
	position: relative;
	text-align: center;
	color:#fff;
	font-weight: 400;
	line-height: 30px;
	margin-top:4px;
}
#capture #modal-app-title-modify div h3 #close-app-title{
	position: absolute;
	top:0px;
	right:0px; 
	color:#fff; 
	border-radius:6px;
	border:none;
	background:#2c2b72;
	width:28px;
	height:28px;
	padding-top:2px;
}
#capture #modal-app-title-modify div input{
	display:block; 
	width:100%; 
	height:42px;
	margin-top:20px;
	border-radius:6px; 
	padding-left:6px;
	border:none;
	text-align: center;
}
#capture #modal-app-title-modify div #modify-app-title{
	display:block; 
	width:100px; 
	height:36px;
	margin:40px auto 0;
	background:#2c2b72;
	font-size:1em;
	border-radius:6px; 
	color:#fff; 
	border:none;
}
#capture .fa-image{
	position: absolute;
	display:block; 
	font-size:30px;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	color:rgba(255,255,255, 0.2)
}
#capture .img-lists{
	width:100%;
	display:flex; 
	justify-content:flex-start;
	flex-wrap: wrap;
}
#capture .img-lists .img-lists__element{
	position: relative;
	width:25%;
	overflow: hidden;
}
#capture .img-lists.one-to-one .img-lists__element{
	padding-top:25%;
}
#capture .img-lists.horizon .img-lists__element{
	padding-top:16%;
}
#capture .img-lists.vertical .img-lists__element{
	padding-top:32%;
}
#capture .img-lists .img-lists__element img{
	height:100%;
	display:block;
	position: absolute;
	object-fit: cover;
	top:0; 
	left:50%;
	transform:translate(-50%);
	z-index:-1;
}
#capture .img-lists .img-lists__element img.updated{
	z-index:2;
}
#capture .img-lists .img-lists__element img.img-width-100{
	height:auto;
	width:100%;
}
#capture .img-lists .img-lists__element label{
	z-index:1; 
	display:block;
	position: absolute;
	width:100%; 
	height:100%; 
	top:0;
	left:0;
}
#capture .img-lists .img-lists__element .month-sticker{
	z-index:10; 
	position: absolute;
	text-align: center;
	color: #ffffff;
    background: #0c0b3d;
	border-radius:50%;
	overflow: hidden;
}
#capture .img-lists .img-lists__element .month-sticker .month-number{
	z-index:11;
	position: absolute;
	letter-spacing: 2px;
	display:block;
	font-weight: 600;
	color:#fff;
	display:block; 
	text-align: center;
}
#capture .img-lists .img-lists__element .month span .fa-solid{
	display:inline-block;
	margin-top:0.5em;
	font-size:1em;
}
.bottom-ui{
	width:100%;
	position: fixed;
	bottom:0;
	z-index:100;
	padding:12px;
	background:#000;
}
.bottom-ui .bottom-ui__wrapper{
	width:100%;
	max-width:800px;
	margin:0 auto;
}
.bottom-ui .bottom-ui__wrapper>*{
	display:inline-block; 
}

.bottom-ui .bottom-ui__wrapper .screen-control{
	min-width:80px;
	max-width:200px; 
	padding:12px;
	height:36px;
	border:none; 
	background:#5250ce;
	color:#fff;
	border-radius:6px;
	font-weight: 600;
}
.bottom-ui #capture-button{
	display:block;
	width:100%;
	max-width:280px;
	height:42px;
	background:#5250ce;
	color:#fff;
	border:none;
	border-radius:6px; 
	margin:0 auto 20px;
}

.bottom-ui #capture-button i{
	font-size:1.5em;
	margin:0 4px 0 0;
}

@media screen and (max-width:800px){
	#top-ui {
		width:100%;
	}
}
@media screen and (max-width:600px){
	#top-ui #option__list #device-width{
		display:none;
	}
}
