@charset 'UTF-8';

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
ul, li, ol{
	list-style:none;
}
input[type="file"]{
	display:none;
}
.app{
	width:100%;
	padding:20px;
	max-width:800px;
	margin:0 auto;

}
#capture{
	padding:20px; 
	background:#000;
}
#capture h1{
	margin-bottom:20px;
	color:#fff;
}
#capture .fa-image{
	display:block; 
	font-size:3vw;
	line-height: 11vw;
	text-align: center;
	color:rgba(255,255,255, 0.2)
}
#capture .img-lists{
	width:100%;
	display:flex; 
	justify-content:flex-start;
	flex-wrap: wrap;

}
#capture .img-lists__element{
	position: relative;
	width:25%;
	padding-top:25%;
	overflow: hidden;
}
#capture .img-lists__element img{
	width:100%;
	height:100%;
	display:block;
	position: absolute;
	object-fit: cover;
	top:0; 
	left:0;
	z-index:-1;
}
#capture .img-lists__element img.updated{
	z-index:2;
}
#capture .img-lists__element label{
	z-index:1; 
	display:block;
	position: absolute;
	width:100%; 
	height:100%; 
	top:0;
	left:0;
}
#capture .img-lists__element .month{
	z-index:10; 
	width:40%; 
	height:40%;
	position: absolute;
	top:-20%;
	left:-20%;
	transform:translate(-10%, -60%);
	transform:rotateZ(45deg);
	text-align: center;
	color: #ffffff;
    background: #000000;
}
#capture .img-lists__element .month span{
	position: absolute;
	top: 21%;
    left: 53%;
	width:100%;
	height:100%;
	letter-spacing: 2px;
	display:block;
	font-weight: 600;
	font-size:1vw;
	transform:rotateZ(-45deg);
}

.app .not-captured {
	margin-top:20px;
}
.app .not-captured .not-captured__capture-button{
	display:block;
	width:100%;;
	height:40px; 
	background:#5250ce;
	color:#fff;
	border:none;
	border-radius:6px; 
	margin:0 auto;
}
.app .not-captured .not-captured__description {
	width:100%;
	padding:14px 20px;
	font-size: 13px;
	background:#f5f5f5;
	margin:20px auto;
}
.app .not-captured .not-captured__description p{
	margin-bottom: 6px;
}